// -----------------------------------------------------------------------------
// styles
// -----------------------------------------------------------------------------

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600')
@import 'nib'

global-reset()

// -----------------------------------------------------------------------------
// variables
// -----------------------------------------------------------------------------

$fnt-open-sans = 'Open Sans', sans-serif
$clr-white = #FFFFFF
$clr-off-white = #F5F5F5
$clr-gray = #bfbfbf
$clr-jumpsuit1 = #1F284B
$clr-jumpsuit2 = #33478C
$clr-jumpsuit3 = #3A54AD

// -----------------------------------------------------------------------------
// General
// -----------------------------------------------------------------------------

*
  box-sizing border-box

html
  min-height 100vh

body
  font-family $fnt-open-sans



/* -----------------------------
  mixins
----------------------------- */
clearfix()
  &:before
  &:after
    content: ""
    display: table
  &:after
    clear: both
    


/* -----------------------------
  App Styles
----------------------------- */
.NewUserForm
  margin-bottom 50px
  &__submit
    display: block
    margin: auto
    

.UsersTable
  &__successAlert
    margin: 20px 0
    
.form-group
  clearfix()