// -----------------------------------------------------------------------------
// styles
// -----------------------------------------------------------------------------

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600')
@import 'nib'

global-reset()

// -----------------------------------------------------------------------------
// variables
// -----------------------------------------------------------------------------

$fnt-open-sans = 'Open Sans', sans-serif
$clr-white = #FFFFFF
$clr-off-white = #F5F5F5
$clr-gray = #bfbfbf
$clr-jumpsuit1 = #1F284B
$clr-jumpsuit2 = #33478C
$clr-jumpsuit3 = #3A54AD

// -----------------------------------------------------------------------------
// General
// -----------------------------------------------------------------------------

*
  box-sizing border-box

html
  min-height 100vh

body
  font-family $fnt-open-sans



/* -----------------------------
  mixins
----------------------------- */
clearfix()
  &:before
  &:after
    content: ""
    display: table
  &:after
    clear: both
    
ctr(pos = xy, transforms...)
  position absolute

  if pos == xy
    top: 50%
    left 50%
    transform translate(-50%, -50%) transforms

  else if pos == y
    top: 50%
    transform translateY(-50%) transforms

  else if pos == x
    left: 50%
    transform translateX(-50%) transforms

  else if pos == none
    position static
    transform none


p-ctr(pos = xy, transforms...)
  content ''
  display block
  ctr(pos, transforms)



/* -----------------------------
  App Styles
----------------------------- */
.Table
  &__cell
    position relative
    display flex
    align-items: center
    &.is-asc
    &.is-desc
      &:after
        p-ctr y
        right 10px
        margin-left: 5px
        border-left 5px solid transparent
        border-right @border-left
    &.is-asc
      &:after
        border-bottom 5px solid #333
    &.is-desc
      &:after
        border-top 5px solid #333


.NewUserForm
  margin-bottom 50px
  &__submit
    display: block
    margin: auto
    

.UsersTable
  &__successAlert
    margin: 20px 0
    
.form-group
  clearfix()
  
.FieldComponent
  &__radioWrap
    display inline-flex
    align-items center
    
  &__radioWrapLabel
    margin-left: 5px
    margin-right 20px